<% if current_user.impairments.empty? %>
<p>Please add any impairments you may have. These can be useful to other for finding you.</p>
<%end %>
<% if current_user.educations.empty? %>
<p> Please add your education history. This can be very useful for other people to learn from your experiences.</p>
<% end %>
