<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </nav>
