<%# add navigation links to this file %>
<li> <%= link_to_unless_current "Home", :controller => "pages", :action => "home" %> </li>
<li> <%= link_to_unless_current "About Us", :controller => "pages", :action => "about" %> </li>
<li> <%= link_to_unless_current "Contact Us", :controller => "pages", :action => "contact" %> </li>