  <%= form_for(@post) do |f| %>
  <%= render 'layouts/errorMessages', object: f.object %>
  <div class="field">
    <%= f.text_area :postText, placeholder: "Create new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
